* {
    margin: 0;
    padding: 0;
}
.menu_container {
    display: flex;
    justify-content: space-around;
}

#left {
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
    transition: 0.1s;
}
.left_1:hover, .left_2:hover, .left_3:hover, .left_4:hover{
    cursor: pointer;
    transform: scale(1.05);
    text-decoration: blink; 
    text-shadow: 5px 5px 10px rgb(92, 92, 92);
}

#right {
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
}
.input{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
.header_search{
    height: 20px;
    border: none;
    margin-left: 15px;
    margin-bottom: 4px;
}
.bx-search{
    font-size: 22px;
    position: relative;
    top: 6px;
}
.main{
    display: flex;
    flex-direction: column;
}
.promotions {
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    color: rgb(59, 59, 59);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.box1, .box2, .box3{
    display: flex;
    margin: 20px 130px 18px 130px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: 0.1s;
}
.box:hover{
    transform: scale(1.02);
    border: 1px solid #535353;
}
.box1_chu, .box2_chu{
    margin-top: 40px;
    margin-left: 28px;
    line-height: 34px;
}
.text_header {
    font-weight: bold;
    font-size: 30px;
    color: #2c2c2c;
}

.text_center {
    font-size: 18px;
}

.text_footer {
    font-style: italic;
    font-size: 18px;
    color: #999;
}
.box_button{
    border-radius: 5px;
    border: none;
    color: #ffffff;
    padding: 15px 48px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #459d7a;
    transition: 0.1s;
}
.box_button:hover{
    background-color: #5ea086;
}
.box2{
    flex-direction: row-reverse;
}
.box2_chu{
    margin-left: 30px;
}
.box3_chu{
    margin: 115px 0px 0px 683px;
    width: 33%;
    position: absolute;
    line-height: 34px;
}
.box3_hinh{
    width: 100%;
    height: 100%;
}
.text_header_box3{
    font-weight: bold;
    font-size: 40px;
    color: #2c2c2c;
}
.text_center_box3{
    font-size: 18px;
}
.footer {
    width: 100%;
    background-color: #1D2128;
    height: 390px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.footer_start, .footer_end {
    width: 49%;
    height: 56%;
    display: flex;
    justify-content: space-around;

}

.footer_list {
    color: white;
    list-style: none;
    line-height: 32px;
}

.ul_header {
    font-size: 25px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
}
.select{
    width: 100px;
    background-color: #1D2128;
    color: white;
    padding: 3px;
}
.footer_end{
    flex-direction: column;
    color: white;
    align-items: center;

}
.footer_input{
    position: relative;
}
.footer_button{
    border: none;
    padding: 11px;
    margin-left: -4px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px ;
    background-color: #459d7a;
    margin-bottom: 15px;
}
.bx-envelope{
    font-size: 22px;
    color: white;
    position: absolute;
    top: 8px;
    left: 8px;
}
.footer_text1{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.footer_text2{
    margin: 5px 0px 20px 20px;
}
.footer_input_email{
    border: 1px solid white;
    padding: 10px 0 10px 35px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px ;
    background-color: #1D2128;
    color: white;
    outline: none;
}
.footer_img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 138px;
    margin-left: -151px;
}
.footer_img_1:hover, .footer_img_2:hover, .footer_img_3:hover, .footer_img_4:hover{
    cursor: pointer;
}
.footer_source{
    font-size: 12px;
    counter-reset: #8d8d8d;
    display: flex;
}
.footer_source_list{
    display: flex;
}
.footer_source_list1, .footer_source_list2, .footer_source_list3{
    margin-left: 21px;
    margin-right: -1px;
}